.react-flow__edge-path {
  stroke: #d4d4d4 !important; /* neutral.300 */
  stroke-width: 3 !important;
}

.react-flow__connection-path {
  stroke: #e5e5e5 !important; /* neutral.200 */
  stroke-width: 3 !important;
}

.react-flow__node	{
  border: 0 !important;
}

.react-flow__node.selected .icon-outer {
  background-color: var(--border-selected) !important;
}

.react-flow__handle	{
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--bg) !important;
  border: 0;
  border-radius: 100%;
}

.react-flow__edge-textbg {
  /* slightly transparent, to make it easier to see when it's on top of something */
  fill: rgba(255,255,255,0.9) !important;
  /* border, to make it easier to see when it is behind or on top of something else */
  stroke-width: 1;
  stroke: oklch(0.87 0 0); /* neutral.300 */
}