.sidenav {
    width: 300px;
    transition: width 0.2s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 28px;
    display: flex;
    flex-direction: column;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.2s ease-in-out;
    width: 60px;
    display: flex;
    flex-direction: column;
}
.aboutBar{
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.convoBar{
   margin-top: auto;
   margin-bottom: 2rem;
   
}
.sideitemConvo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.sideitemLink {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 25px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: clip;
}
.linkText {
    padding-left: 15px;
}
.linkTextAbout {
    padding-left: 15px;
    font-weight: bold;
}
.sideitemConvo:hover {
    background-color: #244f7d1c;

}
.menuOpen{
    margin-left: auto;
    color: #B2BAC2;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}