#search-documents {
  div[data-orientation="vertical"] {
    overflow: hidden;
    height: 100%;
  }

  #datasets h3 + div[data-orientation="vertical"] {
    overflow: auto;
  }
}

#search-documents h3 + div {
  height: 100%;
  overflow: hidden;
}
